.theme {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  z-index: 1;

}

.theme__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: relative;
  top: 20px;
  right: 20px;
  width: 50px;
  font-size: 20px;
  aspect-ratio: 1;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
}

.icon__dark {
  background-color: rgb(88, 100, 116);
  color: white;
}
